/* color 1: #004a58 */
/* color 2: #1A1A1D*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto;
  line-height: 1.4;
  background-color: #0c0c0c;
  color: #f1f3f5;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 150px 30px 250px;
}

header img {
  filter: drop-shadow(0 0 10px #004a58);
}

.links .btn {
  all: unset;
  font-size: 20px;
  font-weight: 700;
  color: #f1f3f5;
  margin-right: 35px;
}

.links a:link {
  transition: color 0.2s linear;
}

.links .btn a:hover,
.links .btn a:focus {
  color: #004a58;
}

.links a {
  all: unset;
}

.btn {
  position: relative;
}

.btn a {
  letter-spacing: 0.15em;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.btn a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #004a58;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.btn a:hover:after,
a:focus:after {
  width: 100%;
  left: 0;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 93.75rem;
  align-items: center;
  /* gap: 400px; */
  padding-top: 70px;
  justify-content: space-between;
}

.home {
  width: 700px;
}

.home h1 {
  font-size: 64px;
}

.home strong {
  color: #004a58;
  text-shadow: 0 0 10px #004a58;
}

.home h2 {
  font-size: 38px;
  padding-bottom: 10px;
}

.main-img img {
  width: 500px;
  border-radius: 100%;
  box-shadow: 0 0 10px #f1f3f5, 0 0 20px #004a58, 0 0 30px #004a58,
    0 0 40px #004a58;
  animation: myAnim 4s ease-in-out 0s infinite forwards;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.animated-text {
  min-width: 280px;
}

.animated-text span {
  position: relative;
}

.animated-text span::before {
  content: "Youtuber";
  color: #004a58;
  animation: words 20s infinite;
  text-shadow: 0 0 10px #004a58;
}

.animated-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 107%;
  background-color: #0c0c0c;
  border-left: 2px solid #004a58;
  right: -8px;
  animation: cursor 0.8s infinite, typing 25s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,
  100% {
    content: "Web Developer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

/* --------------------------------- */

.buttons .btn {
  all: unset;
  border: 3px solid #004a58;
  padding: 10px 10px 5px;
  border-radius: 50px;
  transition: all 0.2s linear;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.buttons .hire-me {
  font-size: 20px;
  background-color: #004a58;
  border: 3px solid #004a58;
  color: #f1f3f5;
  padding: 10px 45px;
  border-radius: 50px;
  /* box-shadow: 0 0 5px #004a58, 0 0 10px #004a58; */
  transition: all 0.2s linear;
}

.buttons .hire-me:hover {
  /* background-color: #0c0c0c;
  box-shadow: none; */
  box-shadow: 0 0 5px #004a58, 0 0 10px #004a58;
  transform: scale(1.1);
}

.buttons .btn:hover {
  box-shadow: 0 0 5px #004a58, 0 0 10px #004a58;
  transform: scale(1.1);
}
